body {
  background-color: var(--bg-color);
  min-height: 100vh; /* s’adapte à la taille écran */
  font-family: var(--font-family), monospace;

  /* Grid background */
  --line-color: rgba(0, 0, 0, 0.08);


  --line-color: rgba(0, 0, 0, 0.08);

  background-image:
    linear-gradient(var(--line-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
  background-size: 35px 35px;
  animation: drift 25s linear infinite;
  
  @keyframes drift {
    from { background-position: 0 0; }
    to   { background-position: 100px 100px; }
  }

}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin-top: 50px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  color: var(--text-color);
  font-size: 60px;
}

h2{
  color: var(--text-color);
}

.actu{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;*/
  border: solid 1px black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 70%; /* limite largeur pour meilleure lisibilité */
  width: 70%;
  padding: 10px;
  gap: 2rem;
}

.actu h3{
  font-size: 34px;
  color: var(--text-color);
  text-align: left;
}

.actu ul{
  font-size: 18px;
  margin-left: 20px;
}

.main-text{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 1px black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 70%; /* limite largeur pour meilleure lisibilité */
  padding: 10px;
  gap: 2rem;
}

.main-text h3{
  font-size: 34px;
  color: var(--text-color);
  text-align: left;
}

.main-text p{
  font-size: 20px;
  color: black ;
  line-height: 1.40;
  justify-content: center;
  text-align: justify;
}

