*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 12pt;
    font-family: --font-family;
} 

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    height: 60px;
    width: 100%;
    padding: 0 1.5rem;

    background-color: var(--text-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bg-color);
}

nav a:hover{
    background-color: var(--btn-color);
}

nav .home-link{
    margin-right: auto;
}

nav svg{
    fill: var(--bg-color)
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}
 
@media(max-width: 630px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        height: 100vh;

        background-color: var(--text-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.70s ease-out;
        padding: 1.5rem 0;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    #overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        z-index: 9;
        opacity: 1;
        pointer-events: auto;
    }

}


