body {
    background-color: var(--bg-color);
    min-height: 100vh; /* s’adapte à la taille écran */
    font-family: var(--font-family), monospace;
  }


  .solver {
    font-family: var(--font-family);
    margin: 40px auto;   /* centre horizontalement */
    max-width: 800px;
    padding: 20px;


    /*border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);*/
  }
  
  h2 {
    font-size: 34px;
    margin-bottom: 30px;
    color: var(--text-color);
  }
  

  input[type="number"] {
    width: 70px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    transition: 0.2s;
    font-size: 15px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-color: #2962ff;
    background: white;
    box-shadow: 0 0 6px rgba(41, 98, 255, 0.4);
  }

  /* Désactive les flèches pour tous les navigateurs */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;  /* Chrome, Safari, Edge */
    margin: 0;
}

  
table {
  border-collapse: separate;  /* important */
  border-spacing: 0;          /* important */
  border-radius: 12px;        /* coins arrondis */
  overflow: hidden;           /* masque les coins des cellules */
  width: 100%;
  margin-top: 15px;
}

  
  td, th {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
  }
  
  th {
    background: #eee;
  }
  
  .controls {
    margin-top: 15px;
  }
  
  button {
    font-family: var(--font-family);
    padding: 8px 16px;
    background-color: var(--text-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background-color: var(--btn-hcolor);
    color: var(--bg-color);
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
    white-space: pre-wrap;
    color: #222;
  }
  

