:root {

    --bg-color: #d5def5;
    --text-color: #430f58;
    --btn-color: #8594e4;
    --btn-hcolor: #6643b5;

    --font-family : 'Ubuntu', sans-serif;

    }


.darkmode{

    --bg-color: #1b262c;
    --text-color: #bbe1fa;
    --btn-color: #0f4c75;
    --btn-hcolor: #3282b8;

    }
