:root {

    --bg-color: #EEEEEE;
    --text-color: #222831;
    --btn-color: #76ABAE;
    --btn-hcolor: #31363F;
    --line-color: rgba(0, 0, 0, 0.08);
    --box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --border-color: solid 1px black;
    --panel-color:#ffffff;
    --font-family : 'Ubuntu', sans-serif;

    }




.darkmode{
  --line-color: rgba(184, 180, 180, 0.08);
    --bg-color: #151515;
    --text-color: #B4A5A5;
    --btn-color: #301B3F;
    --btn-hcolor: #301B3F;
    --box-shadow:rgba(255, 255, 254.5, 0.35) 0px 5px 15px;
    --border-color: solid 1px rgb(255, 255, 255);
    --panel-color: #322828dd;
    }


    #theme-switch{
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--btn-color);
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        position: fixed;
        transform: scale(1); /* état normal */
        bottom: 20px;
        left: 20px;
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* transition pour plusieurs propriétés */
      }
      
    #theme-switch:hover{
        transform: scale(1.30); /* état au survol */
        color: var(--bg-color);
        background-color: var(--btn-hcolor);
      
    }
    
    #theme-switch svg{
        fill: var(--text-color) /* Pour choisir la couleur des logos*/
      }
    #theme-switch svg:last-child{
        display: none;
      }
    .darkmode #theme-switch svg:first-child{
        display: none;
      }
    .darkmode #theme-switch svg:last-child{
        display: block;
    
    }

footer {
    color: var(--text-color);
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 10px;
    }
